:root{
    --branco-principal:#7ad5ff;
    --cinza-secundario:#C0c0c0;
    --botao-azul:#5ea0dd;
    --cor-de-fundo:#07235e;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
}